* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    width: 100px;
}

h1 {
    font-size: 50px;
    line-height: 64px;
}

h2 {
    font-size: 46px;
    line-height: 54px;
}

h4 {
    font-size: 46;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px;
}

body {
    width: 100%;
}

/* header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgba(158, 194, 228, 0.651);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

#navbar li a:hover,
#navbar li a.active {
    color: #7a66aa;
}

/* homepage */
/* hex key: purple: 7a66aa blue: aedfe7 pink: ffddd4 */
#hero {
    background-image: url(xmas2.jpg);
    background-color: #ffddd4;
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 10;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #7a66aa;
}

#hero button{
    background-color: transparent;
    color: #7a66aa;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgba(158, 194, 228, 0.651);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}
#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: center;
    padding: 10px 0;
}

#product1 .pro span {
    font-size: 12px;
}

#product1 .pro h5 {
    font-size: 25px;
    font-weight: 900;
}

#product1 .pro h4 {
    font-size: 18px;
    font-weight: 500;
}

#product1 .pro a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(158, 194, 228, 0.651);
    width: 100%;
    height: 100%;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
    margin-left: 50px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 10px;
    margin-top: 20px;
}

footer a,
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

.copyright {
    text-align: center;    
}

/* single product */
#prodetails {
    display: flex;
    margin-top: 20px;
}

.single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
    font-size: 30px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin: 10px 0 10px 0;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}


#prodetails .single-pro-details button {
    height: 30px;
    width: 100px;
}

#prodetails .single-pro-details h6 {
    cursor: pointer;
}

/* about page */

#about {
    padding: 80px;
}
#member {
    padding: 80px;
    display: flex;
    justify-content: space-between;
}


#about-head img{
    width: 50%;
    height: auto;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head div {
    padding-left: 40px;
}